@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Instrument+Sans&family=Inter&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
}

#sidebar-container {
  width: 256px;
  min-height: 100vh;
}

#sidebar {
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: steelblue;
  padding: 1.5rem;
  /* border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; */
}

.button-group #choose-location, .button-group #choose-category {
  width: 12.5%;
  height: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #3e5f91;
}

.button-group #choose-location h3, .button-group #choose-category h3 {
  color: ghostwhite;
  font-size: 0.9rem;
  margin: 0.5rem;

}

#row-location, #row-category {
  width: 98%;
  height: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightskyblue;
  margin: 0.25rem;
  font-size: 0.75rem;
}

#sidebar .sidebar-header {
  display: flex;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #f6f6f6;
}

.user-img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  border: 2px solid steelblue;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  object-fit: cover;
}

.user-details .title, .sideMenu .title {
  font-size: 10px;
  font-weight: 500;
  color: ghostwhite;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
  color: ghostwhite;
}

#side-nav {
  font-size: 14px;
  font-weight: 500;
}


.sideMenu ul li {
  list-style-type: none;
  margin-bottom: 5px;
  transition: 0.3s ease-in-out;
}

.sideMenu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: ghostwhite;
  padding: 12px 8px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.sideMenu ul li > a:hover, .sideMenu ul li.active > a {
  color: steelblue;
  background-color: rgb(238, 242, 248);
}

.sideMenu ul li .icon {
  font-size: 1.25rem;
}

.sideMenu ul li .text {
  flex: 1;
}

.sideMenu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}

.sideMenu ul li.active .arrow{
  transform: rotate(180deg);
}

.sideMenu .sub-side-menu ,.sideMenu .sub-side-menu .sub-sub-side-menu {
  display: none;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.sideMenu .sub-side-menu li a {
  padding: 10px 8px;
  font-size: 12.5px;
}

.sideMenu .sub-side-menu .sub-sub-side-menu li a {
  padding: 10px 8px;
  font-size: 11px;
}

/* NEW FOOD ITEM MODAL */
.food-form .food-detail input {
  margin: 0.5rem 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  padding: 0.5rem 0;
  color: whitesmoke;
  outline: none;
}

.foodModal {
  position: fixed;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  border: 1px solid rgb(33, 63, 87);
  transition: 0.2s ease-in;
  border-radius: 5px;
}

.foodModal:target {
  opacity: 1;
  top: 0;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
}

.food-detail {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid red; */
  margin: 1rem 0;
}

.food-modal-content {
  width: 550px;
  position: relative;
  margin: 10% auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 7px;
  background-color: rgb(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 0 15px rgba(8, 7, 16, 0.6);
}

.foodModal .foodHeader {
  width: 100%;
}

.foodModal .foodHeader h2 {
  position: relative;
  text-align: center;
}

.foodModal .food-modal-content span{
  color: white;
  background-color: red;
  padding: 0.4rem;
  width: 1rem;
  height: 0.5rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 95%;
}

.food-detail-submit {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-detail-submit button {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 10rem;
  border: 1px solid rgb(47, 87, 121);
  color: whitesmoke;
  background: rgb(47, 87, 121);
  transition: 0.75s ease;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}

#main-container {
  /* position: relative; */
  background-color: lightblue;
  width: calc(100% - 256px);
  padding: 1rem;
}

.main-header {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 3px 2rem;
  /* height: 7rem; */
  margin-bottom: 1rem;
}

.main-header button {
    margin: 2rem;
    padding: 1rem 2rem;
    width: 10rem;
    border: 1px solid royalblue;
    color: whitesmoke;
    background: royalblue;
    transition: 0.75s ease;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
}

.main-title {
  color: #3e5f91;
}

.main-card-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.main-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-card-title {
  color: #3e5f91;
  padding-bottom: 10px;
  font-size: 15px;
}

.display-card {
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 1.2rem;
  width: 295px;
  height: 155px;
  display: flex;
  margin-right: 0.2rem;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.display-card:hover {
  transform: translateY(-5px);
}

.main-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.amount .title {
  color: navy;
  margin: 0  0 1rem 0;
}

.amount-value {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

#main-card-icon {
  color: whitesmoke;
  padding: 1rem;
  height: 55px;
  width: 55px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #3e5f91;
}

.tabular-wrapper {
  background-color: #ffff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: steelblue;
  color: white;
}

th {
  padding: 15px;
  text-align: center; 
  vertical-align: middle; 
  /* border: 1px solid #ddd; */
}

tbody {
  background-color: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
  text-align: center; 
  vertical-align: middle;
  /* border: 1px solid #ddd; */
}

tr:nth-child(even) {
  background-color: #fff;
}

tfoot {
  background-color: steelblue;
  font-weight: bold;
  color: white;
}

tfoot td {
  padding: 15px;
}

.table-container button {
  color: rgb(2, 201, 2);
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  border: transparent;

}

