/* styles.css */
.progress-container {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  width: 0;
  border-radius: 5px;
  transition: width 0.3s ease;
}
