body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  background-color: #f0f0f0;
}

.alert-container {
  position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
}

.alert-message {
  background-color: #f8d7da; /* Bootstrap alert-danger background color */
  color: #721c24; /* Bootstrap alert-danger text color */
  border: 1px solid #f5c6cb; /* Bootstrap alert-danger border color */
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center horizontally */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
